#events-container {
  width: 90%;
  margin-left: 10%;
}

.hiddenSection {
  display: none;
}

.event {
  width: 90%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-bottom: 1px solid grey;
}

@media only screen and (max-width: 650px) {
  #events-container {
    margin-left: 0;
    width: 100%;
  }
}
