.event {
  width: 90%;
  height: 75px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#event-information-section {
  height: 75px;
  width: 85%;
  display: inline-block;
}

#event-information-wrapper {
  height: 100%;
}

.event-item {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

#date-wrapper {
  width: 20%;
}

#date {
  margin-left: 15%;
  font-size: 18px;
  font-weight: 900;
  color: #00C5CD;
}

#venue-wrapper {
  font-weight: 900;
  width: 40%;
}

#location-wrapper {
  width: 40%;
}

#tickets-button-section {
  display: inline-block;
  height: 75px;
  width: 15%;
  text-align: center;
}

#tickets-button-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#hide-ticket {
  display: none;
}

#tickets-button {
  text-decoration: none;
  margin-right: 15%;
  font-size: 16px;
  font-weight: 550;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #00C5CD;
  border: 1px solid #00C5CD;
}

#tickets-button:hover {
  cursor: pointer;
  background-color: #00C5CD;
  color: white;
}

@media only screen and (max-width: 650px) {
  .vertical-center {
    top: 0;
    transform: translateY(0);
  }

  .event {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  #event-information-wrapper {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .event-item {
    height: auto;
  }

  #event-information-section {
    width: 70%;
    margin-left: 5%;
  }

  #date {
    margin-left: 0;
    font-size: 13px;
  }

  #date-wrapper, #venue-wrapper, #location-wrapper {
    width: 100%;
  }

  #venue-wrapper, #location-wrapper {
    margin-top: 5px;
  }

  #tickets-button-section {
    vertical-align: bottom;
    width: 25%;
  }

  #tickets-button {
    display: block;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 15px 10px 15px;
  }
}
