.event {
  width: 90%;
  height: 75px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
}

/* Date, Venue, and Location specific CSS */

#event-information-section {
  height: 75px;
  width: 85%;
  display: inline-block;
}

#event-information-wrapper {
  height: 100%;
}

.event-item {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

#date-wrapper {
  width: 20%;
}

#date {
  margin-left: 15%;
  font-size: 18px;
  font-weight: 900;
  color: #00C5CD;
}

#venue-wrapper {
  font-weight: 900;
  width: 40%;
}

#location-wrapper {
  width: 40%;
}

/* Tickets specific CSS */

#tickets-button-section {
  text-align: right;
  display: inline-block;
  height: 75px;
  width: 15%;
}

#tickets-button-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#hide-ticket {
  display: none;
}

#tickets-button {
  text-decoration: none;
  text-align: center;
  margin-right: 15%;
  font-size: 16px;
  font-weight: 550;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #00C5CD;
  border: 1px solid #00C5CD;
}

#tickets-button:hover {
  cursor: pointer;
  background-color: #00C5CD;
  color: white;
}

/* On ipads and smaller screens that don't hit the mobile layout breakpoint,
remove left margin and have each event span the entire screen with
some padding included.
*/
@media only screen and (max-width: 800px) {
  .event {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

/* Media queries for mobile layout */
@media only screen and (max-width: 625px) {
  .event {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  #event-information-wrapper {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .event-item {
    height: auto;
  }

  #event-information-section {
    width: 67.5%;
    margin-left: 5%;
  }

  #date {
    margin-left: 0;
    font-size: 14px;
  }

  #date-wrapper, #venue-wrapper, #location-wrapper {
    width: 100%;
  }

  #venue-wrapper, #location-wrapper {
    margin-top: 5px;
  }

  #venue, #date, #location {
    top: 0;
    transform: translateY(0);
  }

  #tickets-button-section {
    vertical-align: bottom;
    width: 27.5%;
  }

  #tickets-button {
    display: block;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 12.5px 10px 12.5px;
  }

}

/* Media queries for certain font sizes on smaller screens */
@media only screen and (max-width: 800px) {
  #date, #tickets-button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  #date, #tickets-button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {
  #date, #tickets-button {
    font-size: 12px;
  }
}
